.inmuebles-view {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.inmuebles-view .grid-wrapper {
  flex-grow: 1;
  width: 100%;
}

.inmuebles-view #grid-wrapper {
  padding-top: 15px;
}

.inmuebles-view #grid-wrapper .warning {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: var(--lumo-secondary-text-color);
}

.inmuebles-view .full-size {
  width: 100%;
  height: 100%;
}

.inmuebles-view #editor-layout {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.inmuebles-view #editor {
  padding: var(--lumo-space-l);
  flex-grow: 1;
}

.inmuebles-view #button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
}

.inmuebles-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.inmuebles-view .card .description-row{
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.inmuebles-view .card .no-foto,
.inmuebles-view .card .thumbnail {
  width: 90px;
  height: 90px;
  text-align: center;
  padding-top: 10px;
}

.no-foto {
  background-color: #e7ebef;
  text-align: center;
}

.no-foto > span {
  position: relative;
  top: 40%;
}

.inmuebles-view .card .no-foto {
  width: 90px;
  height: 90px;
}

#inmueble-detail-dialog .no-foto{
  width: 100%;
  height: 250px;
}
.dialog-container {
  width: 900px !important;
  padding-bottom: 10px;
}

.dialog-container .carousel-item{
  height: 350px;
  text-align: center;
}

.dialog-container .carousel-item img{
  max-height: 350px;
  max-width: 100%;
}

.dialog-container .carousel-inner{
  text-align: center;
  background-color: #b3bcc6;
}

.dialog-container .label {
  padding-right: 5px;
}

div#imagenes-div {
  margin-bottom: 10px;
}

.dialog-container #titulo-div{
  padding-bottom: 10px;
}

div#inmueble-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

div#otherProperties-div {
  padding-bottom: 15px;
}

.dialog-container #dates-div {
  border-top: 1px dashed #8c96a3;
  padding-top: 10px;
}

.dialog-container .address-col,
.dialog-container .price-col,
.dialog-container .updated-col {
  text-align: right;
}

.dialog-container .inmobiliaria-title-col {
  font-weight: 600;
  font-size: x-large;
}

.dialog-container #inmobiliaria-info-container {
  margin: 10px;
  background-color: #b3bcc626;
  border: 1px dashed #bbb;
  margin-bottom: 30px;
}

.controlBar {
  text-align: right;
}

.inmuebles-view .card .price-row {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.inmuebles-view .card .actions-row {
  height: 80%;
}

.inmuebles-view .card .card-button{
  text-align: right;
  padding-right: 5px;
}

.inmuebles-view .card label {
  padding-right: 5px;
  font-weight: bold;
}

.confirmDialog {
  text-align: center;
}

.confirmDialog .confirm-buttons vaadin-button{
  margin: 20px 10px 0 10px;
}

#filter-layout {
  display: flex;
  flex-direction: column;

}

#filter {
  padding: 10px;
  flex-grow: 1;
}