.inmuebles-view {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.inmuebles-view .grid-wrapper {
  flex-grow: 1;
  width: 100%;
}

.inmuebles-view .full-size {
  width: 100%;
  height: 100%;
}

.inmuebles-view #editor-layout {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.inmuebles-view #editor {
  padding: var(--lumo-space-l);
  flex-grow: 1;
}

.inmuebles-view #button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
}

.inmuebles-view .card {
  background-color: var(--lumo-base-color);
  border-radius: var(--lumo-border-radius);
  box-shadow: var(--lumo-box-shadow-xs);
  padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}

.inmuebles-view .card .no-foto,
.inmuebles-view .card .thumbnail {
  width: 90px;
  height: 90px;
  text-align: center;
}

.no-foto {
  background-color: #e7ebef;
  text-align: center;
}

.no-foto > span {
  position: relative;
  top: 40%;
}

.inmuebles-view .card .no-foto {
  width: 90px;
  height: 90px;
}

#inmueble-detail-dialog .no-foto{
  width: 100%;
  height: 250px;
}



.inmuebles-view .card .price-row {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.inmuebles-view .card .actions-row {
  height: 80%;
}

.inmuebles-view .card .card-button{
  text-align: right;
  padding-right: 5px;
}

.inmuebles-view .card label {
  padding-right: 5px;
  font-weight: bold;
}

#filter-layout {
  display: flex;
  flex-direction: column;

}

#filter {
  padding: 10px;
  flex-grow: 1;
}