#header {
  height: var(--lumo-size-xl);
  box-shadow: var(--lumo-box-shadow-s);
  padding-left: 15px;
}
#header vaadin-avatar {
  margin-left: auto;
  margin-right: var(--lumo-space-m);
}
vaadin-app-layout[dir='rtl'] #header vaadin-avatar {
  margin-left: var(--lumo-space-m);
  margin-right: auto;
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
#logo {
  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--lumo-contrast-10pct);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}
#logo img {
  height: calc(var(--lumo-size-l) * 1.5);
}
#logo h1 {
  font-size: var(--lumo-font-size-xl);
  font-weight: 600;
  margin: 0 var(--lumo-space-s);
}
a#logoHome {
  vertical-align: middle;
  height: 50px;
  display: inline-block;
  margin-top: 20px;
}

a#logoHome img {
  height: 50px;
  width: 50px;
}

a.disclaimerLogoAnchor {
  font-size: 1px;
  color: transparent;
}

#profileMenu-div .menu {
  float: right;
}

#user-title {
  width: 100%;
  text-align: right;
  padding-right: 30px;
  font-weight: bold;
}

#avatar-menu-item, 
#profileMenu-div .menu * {
  background-color: transparent !important;
}

vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

.full-width {
  width: 100%;
}

.inmo-background {
  background: url(https://i.imgur.com/Zh03di0.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
  overflow: hidden;
}
